
/* Contenido */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header{
    grid-column: 1 / 4;
    grid-row: 1;
}
.left{
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    padding-right: 2vw;
}
.right{
    grid-column: 3 / 4;
    grid-row: 2/6;
    border-left: 0.15vw solid black;
}
.footer{
    grid-column: 1 / 4;
    grid-row: 6;
}
/* Fin Contenido */


/* Left Section */
/* Articulo */
.articulo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    margin-left: 3vw;
    border-bottom: 0.15vw solid black;
    padding-bottom: 5vw;
    padding-top: 5vw;
}
.left article:nth-last-child(1){
    border-bottom: none;
}
.left article:nth-child(1){
    border-top: 0.15vw solid black;
}
.art-titulo{
    font-size: 1.8vw;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    padding-bottom: 5vw;
}
.art-fecha{
    font-size: 1vw;
    grid-column: 3 / 4;
    grid-row: 1;
    text-align: right;
}
.art-imagen{
    width: 100%;
    height: auto;
    grid-column: 1 / 3;
    grid-row: 2;
    box-shadow: 0 0.2vw 0.8vw 0 black, 0 0.11vw 0.11vw black;
}
.art-video{
    width: 100%;
    height:auto;
    grid-column: 1 / 3;
    grid-row: 2;
}
.art-texto{
    overflow: hidden;
    max-height: 13vw;
    width: 20vw;
    margin: 1vw;
    font-size: 1.1vw;
    grid-column: 3 / 4;
    grid-row: 2;
    align-self: center;
    padding-left: 3vw;
    letter-spacing: 0.1vw;
    color: rgb(39, 32, 32);
    font-weight: bold;
    line-height: 1.5vw;
}
.art-texto a{
    border-bottom: 0.12vw solid black;
}
.art-texto a:hover{
    color: red;
}
.art-autor{
    font-size: 1.2vw;
    grid-column: 3 / 4;
    grid-row: 2;
    align-self: flex-end;
    text-align: center;
}
.art-compartir{
    grid-column: 4;
    grid-row: 2;
    align-self: flex-end;
    text-align: right;
    margin-left: 1vw;
}
.art-compartir img{
    width: 2vw;
}
.icono:hover{
    filter: brightness(50%);
}
.art-comentar{
    grid-column: 3 ;
    grid-row: 2;
    align-self: flex-end;
    text-align: right;
}
.art-comentar img{
    width: 2vw;
}

/* Fin Articulo */
/* Fin Left Section */

/* Right Section */
/* Articulo */
.articulo-interes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    width: 75%;
    margin: auto;
    border-bottom: 0.15vw solid red;
    padding: 5vw 0;
}
.articulo-interes:nth-child(1){
    border-top: 0.15vw solid black;

}
.articulo-interes:nth-last-child(1){
    border-bottom: 0.15vw solid black;
}
.titulo-interes{
    font-size: 1.4vw;
    grid-column: 1/4;
    grid-row: 1;   
    text-align: center;
    padding-bottom: 3vw;
}
.imagen-interes{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    grid-column: 1 / 4;
    grid-row: 2;
    box-shadow: 0 0.2vw 0.8vw 0 black, 0 0.11vw 0.11vw black;
}
.texto-interes{
    grid-column:1 / 4;
    grid-row: 3;
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 2vw;
    font-size: 0.9vw;
    background-color: rgb(249, 255, 248);
    overflow: hidden;
    max-height: 13vw;
    letter-spacing: 0.1vw;
    color: rgb(39, 32, 32);
    font-weight: bold;
}
.texto-interes a{
    border-bottom: 0.12vw solid black;
}
.texto-interes a:hover{
    color: red;
}
