textarea{
    resize:none;
}
/* Contenido */
.container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    margin: auto;
}

.header{
    grid-column: 1 / 6;
    grid-row: 1;
    margin-bottom: 3vw;
}

.left{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.right{
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

/* Fin Contenido */


/* Section Left */
.left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    border-bottom: 0.15vw solid black;
    margin-bottom: 10vw;
    background-color:  #777;
    color: white;
    letter-spacing: 0.05vw;
    box-shadow: 0 0.2vw 0.8vw 0 black, 0 0.11vw 0.11vw black;
    text-shadow: black 1px 2px 5px;

}
.titulo-left{
    font-size: 1.3vw;
    grid-column: 1 / 4;
    grid-row: 1;
    margin-bottom: 3vw;
    text-align: center;
    padding-top: 2vw;
}
.list-left{
    grid-column: 1 / 4;
    grid-row: 2;
    padding-left: 3vw;
}
.item-left{
    padding-bottom: 3vw;
    font-size: 0.9vw;
}
.item-left a:hover{
    border-bottom: 0.15vw solid black;
    color: black;
}
/*Fin Section Left */

/* Section Right */
.right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    border-bottom: 0.15vw solid black;
    background-color: #777;
    margin-bottom: 10vw;
    box-shadow: 0 0.2vw 0.8vw 0 black, 0 0.11vw 0.11vw black;
    text-shadow: black 1px 2px 5px;

}
.titulo-right{
    font-size: 1.3vw;
    grid-column:1 / 4;
    margin-bottom: 3vw;
    grid-row: 1;
    text-align: center;
    color: white;
    padding-top: 2vw;
}
.form{
    grid-column: 2 / 3;
    grid-row: 2;
}

.item-right input, textarea{
    font-size: 0.8vw;
    display: block;
    margin: auto;
    margin-bottom: 2vw;
    padding: 0.5vw;
    text-align: center;
}
.item-right textarea{
    width: 20vw;
    height: 10vw;
    text-align: left;
    padding: 2vw;
}
.form-button{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    padding: 0.5vw;
    border: none;

}

.form-button:hover{
    background-color: green;
    color: black;
    cursor: pointer;
}
/* Fin Section Right */


